<!DOCTYPE html>
<html>
  <head>
    <title><%= Harish %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Harish %></h1>
    <p>Welcome to <%= NodeJS %></p>
  </body>
</html>